<h4>User added to your friend list!</h4>
<h5>@Ajax.ActionLink("Delete", "DeleteFriend", "Friend", new { id = Model }
, new AjaxOptions { UpdateTargetId = "UsersList-" + Model }) this user from friends</h5>