<h4>Success! Friend removed from your friend list</h4>
<h5>@Ajax.ActionLink("add to friends", "AddFriend", "Friend", new { friendId = Model }
, new AjaxOptions { UpdateTargetId = "UsersList-" + Model })</h5>