<h4>This User alredy your friend</h4>
<h5>delete @Ajax.ActionLink("this", "DeleteFriend", "Friend", new { id = Model }
, new AjaxOptions { UpdateTargetId = "UsersList-" + Model }) user from friends</h5>