@using WishList.ViewModels
@model WishListDropDownViewModel

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">×</a>
            <h3>Add gift to wish list</h3>
        </div>
        @using (Ajax.BeginForm("AddGiftToWishList", "WishList", new {giftId = Model.GiftId}, new AjaxOptions
        {
            UpdateTargetId = "contentId",
            HttpMethod = "POST",
            OnSuccess = "closeModalWindow"
        }, new {@class = "form-horizontal"}))
        {
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-md-10">
                        <h5>Select your wish list:</h5>
                        @Html.DropDownListFor(m => m.WishListId, Model.DropDownList, new {@class = "form-control btn btn-primary"})
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">Close</a>
                <input type="submit" class="btn btn-primary" value="Save"  />
            </div>
        }
    </div>
</div>


<script>
    function closeModalWindow(data) {
        if (data.success) {
            $('#newWishList').modal('hide');
            location.reload();
        }
    }
</script>
