@using WishList.ViewModels
@model IEnumerable<UsersWishListsOfGiftViewModel>

<h3>This gift is in my wish lists:</h3>
@foreach (var item in Model)
{
    <h4 class="inlineElement">
        @Html.ActionLink(@item.Name, "ViewWishList", "WishList",
         new
         {
             id = item.Id
         },
         new
         {
             @class = "label label-primary"
         })
    </h4>
}

