@using WishList.ViewModels;
@model IEnumerable<WishListViewModel>


<div id="contentId">
    <h2>My wish lists</h2>
    @Ajax.ActionLink("Add new", "Create", "WishList",
    new AjaxOptions
    {
        UpdateTargetId = "contentId",
    }, new { @class = "btn btn-success"})

    @foreach (var wishList in Model)
    {
        <div>
            <h3>
                @Html.ActionLink(wishList.Name, "ViewWishList", "WishList", new { id = wishList.Id }, null)
            </h3>
            Count of gifts: @wishList.Gifts.Count

            @Ajax.ActionLink("Delete", "Delete", "WishList", new { id = wishList.Id },
            new AjaxOptions
            {
                UpdateTargetId = "contentId",
            }, null)
        </div>
    }
</div>