@using Microsoft.AspNet.Identity
@using WishList.ViewModels;
@model IEnumerable<WishListViewModel>

<div class="row" id="wishListsTable">
    @foreach (var wishList in Model)
    {
        @Html.Action("ViewWishListPartial", "WishList", new { id = @wishList.Id })
    }
</div>

