
<header class="navbar navbar-default">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-default-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Wish List</a>
    </div>
    <div class="navbar-collapse collapse navbar-default-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Gift List", "Catalog", "Gift")</li>
            <li>@Html.ActionLink("Create Gift", "CreateGift", "Gift")</li>
        </ul>
        <form class="navbar-form navbar-left">
            <input type="text" class="form-control col-lg-8" placeholder="Enter Gift Name">
        </form>
        <ul class="nav navbar-nav navbar-right">
            @Html.Partial("_LoginPartial")
        </ul>
    </div>
</header>