@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CheckEmail</h2>
<div class="text-center well well-lg">
    <h1>Confirmation email sent</h1>
    <br />
    <h2>
        Please check your email and confirm registration
    </h2>
</div>