@{
    ViewBag.Title = "CheckEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p>Confirmation email sent. Please check your email and confirm registration</p>
</div>