@{
    ViewBag.Title = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <p>
        Thank you for confirming your account. Please @Html.ActionLink("click here to log in", "Login", "User", null, new {id = "loginLink"})
    </p>
</div>