@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="~/Content/Site.css"/>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css"/>
        <meta name="viewport" content="width=device-width" />
        <title>NoAccess</title>
    </head>
<body>
    <div class="gendalf">
        <img src="~/Content/gandalf.jpg"/>
        @Html.ActionLink("Go to home page","Index","Home",null,new {@class = "btn btn-primary"})
    </div>
</body>
</html>
