@using Microsoft.AspNet.Identity
@model System.Collections.Generic.IEnumerable<WishList.ViewModels.UserViewModel>

@{
    ViewBag.Title = "UsersList";
}

<div class="gift-form-group form-group">
    <div class="col-md-10">
        <input id="usersSearchInput" type="text" class="form-control col-lg-8" placeholder="Enter part of user name">
    </div>
</div>

<h1>Users list:</h1>
<div id="usersList">
    @foreach (var item in Model)
    {
        <div class="userInList">
            <h2>@item.UserName</h2>
            @if (User.Identity.GetUserId() != item.Id.ToString())
            {
                <div id="UsersList-@item.Id">
                    <h5>
                        @Ajax.ActionLink("add to friends", "AddFriend", "Friend", new { friendId = item.Id },
                            new AjaxOptions { UpdateTargetId = "UsersList-" + @item.Id })
                    </h5>
                </div>
            }
        </div>
    }

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="/Scripts/UsersListSearch.js"></script>