.deleteButtonWrap {
    padding: 0;
    margin: 5px 5px 0 0;
}
.deleteButton {
    padding: 0;
}



.myCustomLikeButton, .myCustomCommentLikeButton, .myCustomVoteButton {
    display: inline-block;
    left: 95%;
    min-width: 3%;
    padding: 0;
    margin-top: 5px;
}

.myCustomLikeButton img, .myCustomLikeButton p,
 .myCustomCommentLikeButton img, .myCustomCommentLikeButton p,
.myCustomVoteButton img, .myCustomVoteButton p {
    color: #05bb03;
    display: inline-block;
    margin: 0 0 0 5px;
    padding: 0;
}
button.myCustomLikeButton, button.myCustomCommentLikeButton, button.myCustomVoteButton {
    background-color: #ffffff;
    padding: 3px;
    border: 1px solid #c0d4f0;
}
.myCustomLikeButton:active, .myCustomCommentLikeButton:active, .myCustomVoteButton:active {
     background-color: #c0d4f0;
}
