
.gift {
    background-color: #efefef;
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.gift h2, .gift h4 {
    margin: 0;
}
.gift h2 {
    color: #ffffff;
}

.giftMoreButton {
    display: inline-block;
    margin: 0 0 0 10px;
}

.giftImage {
    width: 100px;
    height: 100px;
    float: left;
}
.gift-form-group {
    display: table;
    width: 100%;
}