
.gift {
    background-color: #efefef;
    border: 1px solid #000000;
    margin: 10px 0;
    padding: 0;
    width: 100%;
}
.gift h2, .gift h4 {
    margin: 0;
    display: inline-block;
}
.gift h2 {
    color: #ffffff;
}

.giftMoreButton {
    display: inline-block;
    margin: 0 0 0 10px;
}

.giftImage {
    height: 100px;
    float: left;
}
.gift-form-group {
    display: table;
    width: 100%;
}

.searchGiftResultImg {
    width: 30px;
    height: 30px;
}
.searchGiftResultItem {
    display: inline-block;
}
.searchButton {
    padding: 0;
}
.giftResultItem {
    padding: 3px;
        border: 1px solid #ffffff;  
}
.giftResultItem a {
    text-decoration: none;
    color: #ffffff;
}
.resultPartial {
    background-color: rgba(66, 107, 151, 1);
}
.comment {
    background-color: #e4e3e3;
    margin: 1% 0 1% 0;
    min-height: 150px;
    padding: 10px 10px 35px 10px;
    width: 100%;
}

    .comment pre {
        min-height: inherit;
        box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.55);
        margin: 0;
    }

.commentInfo {
    background-color: rgb(233, 234, 235);
    color: #000000;
    display: inline-block;
    float: left;
    max-width: 20%;
    min-height: inherit;
    text-align: center;
}
.comment .like {
display: block;
float: right;
left: 95%;
padding: 0;
}