body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    padding-bottom: 2%;
    margin: 0;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.banner {
    background-image: url(../Content/Images/startImage.jpg);
    background-position: top;
    background-repeat: no-repeat;
    height: 500px;
    background-size: 100%;
}

.content {
    margin: 0 auto;
    margin-top: 70px;
    width: 1170px;
}

.avatar {
    margin-left: 60px;
}

img.avatar {
    width: 200px;
    vertical-align: top;
}

.commentUserAvatar {
    width: 100px;
}

.createButton {
    margin-top: 2%;
}

.formButton {
    padding: 0;
    border-width: 0;
}

.cat_textbox {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-button {
    width: 86px;
}

.widthTable {
    width: 100%;
}

.customTable td {
    vertical-align: middle;
}

.widthTable td.tdGiftImage {
    width: 100px;
}

.inlineElement {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.commentUserName {
    font-size: 24px;
    font-family: serif;
    color: rgb(0, 53, 100);
    font-weight: bold;
}

.aboutGift {
    min-height: 100px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.55);
}

textarea.form-control.aboutGift {
    min-height: 100px;
    padding: 20px;
    background-color: #f5f5f5;
    font-size: 13px;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 1px 2px 5px 1px rgba(0, 0, 0, 0.55);
    cursor: default;
    resize: none;
}

span.link {
    font-size: 12px;
}

.deletedUSer {
    text-align: center;
}

.panel.mostPopular {
    width: 540px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #ECECEC;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: rgba(150, 143, 143, 1)2px 2px 3px 1px;
}

.panel.giftInfo {
    margin-bottom: 20px;
    background-color: #ECECEC;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: rgba(150, 143, 143, 1)2px 2px 3px 1px;
}

.title {
    /* background-color: red; */
    text-align: center;
    background: #FCF8A6;
    color: rgb(0, 132, 219);
    padding: 20px;
    border-radius: 7px;
    margin: 20px;
}

.rightBlock {
    display: inline-block;
    margin-left: 50px;
}

    .rightBlock label.control-label {
        margin-bottom: 10px;
    }

#contentId .modal-content {
    background: rgb(238, 238, 238);
}

textarea.noResizable {
    resize: none;
}

a.editButton {
    padding-left: 20px;
    padding-right: 20px;
}

.buttonMarginRight {
    margin-right: 20px;
}

.spinner {
    width: 40px;
    height: 40px;
}

.form-search {
    position: relative;
    margin-top: 5px;
    display: inline-block;
    background: -moz-linear-gradient(#adc1f9, #556be2 50%, #556be2 50%, #556be2);
    background: -ms-linear-gradient(#adc1f9, #556be2 50%, #556be2 50%, #556be2);
    background: -o-linear-gradient(#adc1f9, #556be2 50%, #556be2 50%, #556be2);
    background: -webkit-linear-gradient(#adc1f9, #556be2 50%, #556be2 50%, #556be2);
    border-radius: 5px;
    padding: 4px;
}

    .form-search input {
        width: 120px;
        height: 32px;
        line-height: 32px;
        font: 13px Helvetica, Arial, sans-serif;
        color: #000000;
        -moz-transition: all .2s ease-out;
        -webkit-transition: all .2s ease-out;
        -o-transition: all .2s ease-out;
        transition: all .2s ease-out;
        padding: 0 30px 0 6px;
        background-image: -moz-linear-gradient(#BCBCBC, #EBEBEB);
        background-image: -ms-linear-gradient(#BCBCBC, #EBEBEB);
        background-image: -o-linear-gradient(#BCBCBC, #EBEBEB);
        background-image: -webkit-linear-gradient(#BCBCBC, #EBEBEB);
        background-repeat: no-repeat;
        background-position: 100% 50%, 100% 100%;
        border: 1px solid #747474;
        border-radius: 3px;
        box-shadow: inset 0 1px 1px #575555, 0 1px 0 #FFF;
    }

        .form-search input:focus {
            width: 180px;
            color: #000000;
            background-image: -moz-linear-gradient(#BCBCBC, #EBEBEB);
            background-image: -ms-linear-gradient(#BCBCBC, #EBEBEB);
            background-image: -o-linear-gradient(#BCBCBC, #EBEBEB);
            background-image: -webkit-linear-gradient(#BCBCBC, #EBEBEB);
        }

#giftSearchResult {
    position: absolute;
}

.searchResultItem {
    width: 188px;
}

#globalSearch {
    width: 188px;
    position: relative;
    display: inline-block;
}

ul {
    list-style: none;
}