@using WishList.ViewModels
@model IEnumerable<CommentViewModel>

@{
    Layout = null;
}

<div id="allMessages">
    <h2>Comments:</h2>
    <ul class="list-group">
        @{
            foreach (var comment in Model)
            {
                @Html.Partial("_DisplaySingleCommentPartial", comment)
            }
        }
    </ul>
</div>
