@model IEnumerable<WishList.ViewModels.GiftViewModel>
           
@foreach (var item in Model)
{
    <div class="searchResultItem">
        @Html.ActionLink(item.Name,"ViewGift","Gift", new {id = item.Id}, null)
    </div>
}


