<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Success!</h3>
    </div>
    <div class="panel-body">
        <h5>Gift "@Model" updated.</h5>
    </div>
</div>
<div>
    @Html.ActionLink("Go to catalog", "Catalog")
</div>