@using WishList.ViewModels
@model IQueryable<GiftViewModel>

@{
    ViewBag.Title = "Catalog";
}

@foreach (var md in Model)
{
    <div id="@md.Id">
        <h1>@md.Name</h1>
        <span><h5>@Html.ActionLink("more", "ViewGift", "Gift", new { id = md.Id }, null)</h5></span>
        <span><h5>@Ajax.ActionLink("del", "DeleteGift", "Gift", new { id = md.Id }, new AjaxOptions { UpdateTargetId = md.Id.ToString() })</h5></span>
    </div>
}
