@using WishList.Helpers
@using WishList.ViewModels
@model IQueryable<GiftViewModel>

@{
    ViewBag.Title = "Catalog";
}

@foreach (var gift in Model)
{
    <div id="@gift.Id">
        @Html.Gift(gift, true)
    </div>
}
