@{
    ViewBag.Title = "Success";
}

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">Success!</h3>
    </div>
    <div class="panel-body">
        <h5>Gift added.</h5>
    </div>
</div> 
<div>@Html.ActionLink("Gift List", "Catalog", "Gift")</div>
<div>@Html.ActionLink("Add one more gift", "CreateGift", "Gift")</div>