@using WishList.Helpers
@using WishList.ViewModels
@model GiftViewModel

@{
    ViewBag.Title = "View Gift";
}

@Html.Gift(Model)
    <p>
        @Ajax.ActionLink("Edit", "UpdateGift", new { id = Model.Id }, new AjaxOptions { UpdateTargetId = "gift" })
        @Html.ActionLink("Back to Catalog", "Catalog")
    </p>

    @Html.ActionLink("Add to my wish list", "AddGiftToWishList", "WishList", new { giftId = Model.Id}, null)